body > .navbar {
  transition: background 0.2s ease-in, color 0.2s ease-in;
}

body > #root > .MainContent {
  min-height: 100vh;
  transition: background 0.1s ease-in, color 0.1s ease-in;
  }

body pre {
  margin:0;
  padding:0;
}